PROJECT_NAME="Quant Platform Core API"
API_V1_STR="/api/v1"
DEBUG=True

# Configuración de Broker por defecto
DEFAULT_BROKER="MT5" # Opciones: MT5, IBKR, ALPACA, SIMULATED

# Credenciales MetaTrader 5
MT5_LOGIN=12345678
MT5_PASSWORD="tu_password"
MT5_SERVER="TuBroker-Demo"
MT5_PATH="C:/Program Files/MetaTrader 5/terminal64.exe"

# Credenciales IBKR / Alpaca
ALPACA_API_KEY=""
ALPACA_SECRET_KEY=""